<header>

  <div class="brand">
    <a href="/">Mead.fm</a>
  </div>

  <div class="navigation">
    <button id="navButton">
      <i class="fa fa-circle-o" aria-hidden="true"></i>
      <i class="fa fa-circle-o" aria-hidden="true"></i>
      <i class="fa fa-circle-o" aria-hidden="true"></i>
    </button>
    <ul class="header-nav">
      <li><a href="/about">About</a></li>
      <li><a href="/">Blog</a></li>
      <li><a href="/photos">Photos</a></li>
      <li><a href="/reading-list">Reading List</a></li>
      <li class="small">&copy; Sam Mead 2017</li>
    </ul>
  </div>

</header>
